*.py[cod]
__pycache__/
*.so
.env
db.sqlite3
media/
staticfiles/
venv/
ENV/
.venv/
node_modules/
.DS_Store
.idea/
.vscode/
*.log
projects/
news/
services/
team/
publications/
publication_covers/
blog/
