<div class="navbar bg-base-100 shadow-lg fixed top-0 z-50">
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h8m-8 6h16"
          />
        </svg>
      </div>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52"
      >
        <li>
          <a href="{% url 'core:about' %}">About</a>
          <ul class="p-2">
            <li><a href="{% url 'core:about' %}">About DDS</a></li>
            <li><a href="{% url 'core:team' %}">Team</a></li>
          </ul>
        </li>
        <li>
          <a>Services</a>
          <ul class="p-2">
            <li><a href="{% url 'core:services' %}">All Services</a></li>
            <li><a href="{% url 'core:services' %}#data">Data</a></li>
            <li><a href="{% url 'core:services' %}#research">Research</a></li>
            <li><a href="{% url 'core:services' %}#analytics">Analytics</a></li>
          </ul>
        </li>
        <li><a href="{% url 'core:projects' %}">Projects</a></li>
        <li>
          <a>Publications</a>
          <ul class="p-2">
            <li>
              <a href="{% url 'core:publications' %}">All Publications</a>
            </li>
            <li>
              <a href="{% url 'core:publications' %}?category=research_paper"
                >Research Papers</a
              >
            </li>
            <li>
              <a href="{% url 'core:publications' %}?category=policy_brief"
                >Policy Briefs</a
              >
            </li>
            <li>
              <a href="{% url 'core:publications' %}?category=report"
                >Reports</a
              >
            </li>
          </ul>
        </li>
        <li><a href="{% url 'core:blog' %}">Blog</a></li>
      </ul>
    </div>
    <a href="{% url 'core:home' %}" class="btn btn-ghost text-xl"
      >Development Decision Support (DDS)</a
    >
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      <li>
        <details>
          <summary>About</summary>
          <ul class="p-2 bg-base-100 rounded-t-none">
            <li><a href="{% url 'core:about' %}">About DSS</a></li>
            <li><a href="{% url 'core:team' %}">Team</a></li>
          </ul>
        </details>
      </li>
      <li>
        <details>
          <summary>Services</summary>
          <ul class="p-2 bg-base-100 rounded-t-none">
            <li><a href="{% url 'core:services' %}">All Services</a></li>
            <li><a href="{% url 'core:services' %}#data">Data</a></li>
            <li><a href="{% url 'core:services' %}#research">Research</a></li>
            <li><a href="{% url 'core:services' %}#analytics">Analytics</a></li>
          </ul>
        </details>
      </li>
      <li><a href="{% url 'core:projects' %}">Projects</a></li>
      <li>
        <details>
          <summary>Publications</summary>
          <ul class="p-2 bg-base-100 rounded-t-none">
            <li>
              <a href="{% url 'core:publications' %}">All Publications</a>
            </li>
            <li>
              <a href="{% url 'core:publications' %}?category=research_paper"
                >Research Papers</a
              >
            </li>
            <li>
              <a href="{% url 'core:publications' %}?category=policy_brief"
                >Policy Briefs</a
              >
            </li>
            <li>
              <a href="{% url 'core:publications' %}?category=report"
                >Reports</a
              >
            </li>
          </ul>
        </details>
      </li>
    </ul>
  </div>
  <div class="navbar-end">
    <a
      href="{% url 'core:contact' %}"
      class="btn px-5 bg-blue-600 text-white text-sm rounded-lg hover:bg-blue-700 transition duration-300"
      >Contact</a
    >
  </div>
</div>
<div class="h-16"></div>
<!-- Spacer for fixed navbar -->
